<h2>Groups index</h2>
<% @groups.each do |group| %>
  <h4>Name: <%= link_to "#{group.name}", group_path(group.id) %></h4>
  <p>Description: <%= group.description %></p>
  <p>Location: <%= group.location %></p>
  <p>Private: <%= group.private %></p>
<% end %>

<%= link_to "Add group", new_group_path(@group) %>
