<div class="container my-3">
  <h2>Grow Community</h2>
  <% @groups.each do |group| %>
    <div>
      <div class="group-header">
        <h3>
          <%= link_to group_path(group.id) do %>
            <%= cl_image_tag group.badge.key, class: 'avatar-large mr-2' %> <%= group.name %>
            <% if group.private? %>
              <i class="fas fa-lock"></i>
            <% end %>
          <% end %>
        </h3>
      </div>
      <p><%= group.description %></p>
      <% if group.location.present? %>
        <p>Location: <%= group.location %></p>
      <% end %>
      <p>Private: <%= group.private %></p>
    </div>
  <% end %>

  <%= link_to "Start a Group", new_group_path(@group) %>
</div>
