<div class="container my-3">
  <div class="container-nav text-right">
    <% if @group.user == current_user %>
      <%= link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_group_path(@group) %>
      <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, group_path(@group), method: :delete, data: { confirm: "Are you sure you want to delete this group?" } %>
    <% end %>
  </div>

  <div class="group-info d-flex">
    <div>
      <%= cl_image_tag @group.badge.key, width: 150, height: 150, class: 'rounded-circle' %>
    </div>
    <div class="flex-grow-1 px-3">
      <h2><%= @group.name %></h2>

      <% unless current_user.participating_groups.include?(@group) || @group.user == current_user %>
        <%= link_to "Join group", join_group_path(@group), method: :post, class: 'btn btn-success text-white' %>
      <% end %>

      <% if current_user.participating_groups.include?(@group) %>
            <%= link_to "Leave group", leave_group_path(@group), method: :delete, class: 'btn btn-success text-white' %>
      <% end %>

      <p><%= @group.description %></p>
      <% if @group.location.present? %>
        <p>📍 <%= @group.location %></p>
      <% end %>
      <% if @group.private? %>
        <em>Private Group</em>
      <% end %>
    </div>
  </div>

</div>
