<div class="edit-profile-form d-flex justify-content-center">
  <div class="form-container w-50 p-4">
    <h2>Edit Profile</h2>

    <%= simple_form_for(current_user, url: edit_profile_path, html: { method: :update }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs d-flex">

      <div>
        <%= f.input :username,
        required: true,
        input_html: { autocomplete: "username" } %>

        <%= f.input :bio,
        required: false,
        input_html: { autocomplete: "bio" } %>

        <%= f.input :location,
        required: true,
        input_html: { autocomplete: "location", id: 'address-search' } %>


        <div class="form-actions">
          <%= f.button :submit, "Update", class: 'btn btn-dark rounded shadow' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

