<% if @user.banner.attached? %>
  <div class="banner-user" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @user.banner.key %>')">
  </div>
 <%else%>
  <div class="banner-user" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'default_banner.jpeg' %>')">
  </div>
<% end %>


<div class="profile-edit text-right p-2 mr-2 x-small">
  <% if @user == current_user %>
    <%= link_to "Edit Profile", edit_profile_path %>
  <% end %>
</div>

<div class="container-profile mx-auto">
  <div class="profile-header d-flex">
    <div class="wrapper">
        <div class="profile-avatar">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: 'mr-3 profile-avatar' %>
          <% else %>
            <%= image_tag("anon.jpg",  class: 'mr-3 profile-avatar') %>
          <% end %>
        </div>
    </div>
    <div class="profile-description">
      <div class="profile-badges my-1">
        <% if @user.groups %>
          <% @user.groups.each do |group| %>
            <%= link_to cl_image_tag(group.badge.key, class: 'avatar-rounded'), group_path(group) %>
          <% end %>
        <% end %>
        <% if @user.participating_groups %>
          <% @user.participating_groups.each do |group| %>
            <%= link_to cl_image_tag(group.badge.key, class: 'avatar-rounded'), group_path(group) %>
          <% end %>
        <% end %>
      </div>
      <h2>
        <%= @user.username %>
        <% if current_user != @user %>
          <div id="follow-btn">
            <% if @following %>
              <%= link_to ('<i class="fas fa-minus"></i> Unfollow').html_safe, following_path(@following), method: :delete, remote: true %>
            <% else %>
              <%= link_to ('<i class="fas fa-plus"></i> Follow').html_safe, user_followings_path(@user), method: :post, remote: true %>
            <% end %>
          </div>
        <% end %>
      </h2>
    </div>
  </div>

  <div class="profile-bio mt-2">
    <p>📍<%= @user.location %></p>
    <p><%= @user.bio %></p>
  </div>
</div>

<div class="posts-feed">
  <div class="profile-grows">
    <% if @user.grows.present? %>
    <h2 class="text-center">Currently Growing</h2>
    <%= render 'grows/display_grows', user: @user %>
    <% else %>
      <% if @user === current_user %>
        <div class="px-4 pb-4">
          <h2 class="text-center">Are you growing anything?</h2>
          <%= render 'grows/display_grows', user: @user %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render 'posts/display_posts', posts: @user.posts, comment: @comment %>
</div>
