<% if user.grows.present? %>
  <% user.grows.each do |grow| %>
    <% link_to grow_path(grow) %>
      <% if grow.photo.attached? %>
        <a href="<%= grow_path(grow) %>" class="grow-card mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path grow.photo.key %>)"><%= grow.name %></a>
      <% else %>
        <a href="<%= grow_path(grow) %>" class="grow-card mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'default-banner.jpeg' %>')"><%= grow.name %></a>
      <% end %>
    <% end %>
  <div class="text-right">
    <%= link_to "Add another grow?", new_grow_path %>
  </div>
<% else %>
  <% if user == current_user %>
    <p>No grows yet. <%= link_to "Add one?", new_grow_path %></p>
  <% else %>
    <p>This user has not yet shared any grows.</p>
  <% end %>
<% end %>
