<div class="container">
  <%= simple_form_for @grow do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location, input_html: { class: 'address-search' } %>
    <%= f.input :indoors %>
    <%= f.input :photo, label: "Add banner", as: :file %>
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
