<div class="container">
  <%= simple_form_for @grow do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :indoors %>
    <%= f.input :photos, label: "Add photos", as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
