<div class="container">
  <%= simple_form_for grow do |f| %>
    <%= f.input :location, placeholder: "Town / City", label: false, input_html: { class: 'address-search' } %>
    <%= f.input :description, label: false, placeholder: "Write out anything you'd like to share about this growing space. No worries, you can edit this later!" %>
    <%= f.input :name, label: false, placeholder: "Give your grow a name" %>
    <%= f.input :indoors %>
    <%= f.input :photo, label: "Add a Photo", as: :file %>
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
