<div id="comment-<%= comment.id %>" class="card-post-comment mb-1">
  <%= render 'users/profile_picture', user: comment.user %><strong><%= link_to comment.user.username, user_profile_path(comment.user) %></strong>: <%= comment.content_with_links.html_safe %>
  <sup><%= "#{distance_of_time_in_words(comment.created_at, DateTime.now)} ago" %></sup>
  <% if comment.user == current_user %>
    <%= link_to ('<sup><i class="fas fa-trash-alt"></i></sup>').html_safe, comment_path(comment), method: :delete, remote: true %>
  <% end %>
</div>

<!-- ,data: { confirm: "Are you sure?" } -->
