
<div class="container">

  <div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card-post">
       <%= link_to root_path, class: "topright" do %>
      <i class="far fa-heart"></i>
       <% end %>
      <%= image_tag "carottes.jpg" %>


    <div class="card-post-infos .card-post-banner">
  <div class="profile-tag">
    <div>
      <img src="<%=image_path'profile.png'%>" class="avatar-rounded" />
    </div>
    <div >@user.name</div>
  </div>
  <div class="align-self-center"><p>Date/Time</p></div>
 </div>

    <div class="card-post-infos">
    <div>
      <h1><strong>Carottes</strong></h1>
      <h2>La petite nouvelle est de retour</h2>
      <p>Daucus carota subsp. sativus popularmente conhecido como cenoura, é uma planta da família das apiáceas conhecida e apreciada desde a época dos antigos gregos e romanos. O nome também designa a raiz dessa planta, raiz esta que é tuberosa, laranja, com uma textura lenhosa e comestível</p>
    </div>
  </div>
</div>
<div class="container">

  <div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="card-post">
       <%= link_to root_path, class: "topright" do %>
      <i class="far fa-heart"></i>
       <% end %>
      <%= image_tag "carottes.jpg" %>


    <div class="card-post-infos .card-post-banner">
  <div class="profile-tag">
    <div>
      <img src="<%=image_path'profile.png'%>" class="avatar-rounded" />
    </div>
    <div >@user.name</div>
  </div>
  <div class="align-self-center"><p>Date/Time</p></div>
 </div>

    <div class="card-post-infos">
    <div>
      <h1><strong>Carottes</strong></h1>
      <h2>La petite nouvelle est de retour</h2>
      <p>Daucus carota subsp. sativus popularmente conhecido como cenoura, é uma planta da família das apiáceas conhecida e apreciada desde a época dos antigos gregos e romanos. O nome também designa a raiz dessa planta, raiz esta que é tuberosa, laranja, com uma textura lenhosa e comestível</p>

<p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>
</div>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="button">
  <a>Edit</a>
 </div>
 <br>
  <div class="button_bar">
  <h2 href:"#">MY GROWS</h2>
  </div>
</div>

</div>
</div>


<%= link_to "Create a Post", new_post_path %>

<br>

<% @posts.each do |post| %>
  <div class="card w-50">
    Post ID: <%= link_to post.id, post_path(post) %>
    Content: <%= post.content %>
    <% post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
<% end %>
