<div class="container">
  <%= simple_form_for [@grow, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :birthday %>
    <!--
    <%= f.input :family %>
    <%= f.input :genre %>
    <%= f.input :species %>
    <%= f.input :harvestday %>
    -->
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
