<% posts.each do |post| %>
  <div class="card-post mb-3 rounded shadow">
    <div class="card-post-banner p-2">
      <div class="profile-tag d-flex justify-content-between align-items-start">
        <div>
          <%= render 'users/profile_picture', user: post.user %>
          <%= link_to post.user.username, user_profile_path(post.user) %><br>
          <%= link_to "#{distance_of_time_in_words(post.created_at, DateTime.now)} ago", post_path(post) %>
        </div>
        <div>
          <% if post.user == current_user %>
            <%= link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_post_path(post) %>
            <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, post_path(post), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this post?" } %>
          <% else %>
            <% like = current_user.likes.find_by(post_id: post.id) %>
            <% if like %>
              <%= link_to ('<i class="fas fa-heart"></i>').html_safe, like_path(like), id: post.id, method: :delete, remote: true %>
            <% else %>
              <%= link_to ('<i class="far fa-heart"></i>').html_safe, post_likes_path(post), id: post.id, method: :post, remote: true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
    <% end %>

    <div class="card-post-infos d-flex flex-column">
      <div class="card-post-content">
        <%= post.content_with_links.html_safe %>
      </div>

      <div id="comments-post-<%= post.id %>" class="card-post-comments d-flex flex-column align-items-start">
        <% if post.comments.size >= 6 %>
          <%= link_to "See all comments", post_path(post) %>
        <% end %>
        <% post.comments.last(5).each do |comment| %>
          <%= render "shared/post_with_comments", comment: comment %>
        <% end %>
      </div>

      <div class="card-post-footer my-2">
          <% if post.grow_id.present? %>
            Tagged: <%= link_to post.grow.name, grow_path(post.grow) %>
          <% end %>
      </div>

      <div class="card-post-comment-box">
        <%= simple_form_for [post, comment], remote: true, class: 'form-inline' do |f| %>
          <%= f.input :content, placeholder: "Add a comment...", label: false, class: 'form-control' %>
          <%= f.button :submit, class: 'btn btn-success form-control' %>
        <% end %>
      </div>


    </div>
  </div>
<% end %>
