<div class="filters d-flex justify-content-center mb-3 flex-wrap">
  <%= link_to "#plants", hashtag: 'plants' %>
  <%= link_to "#supplies", hashtag: 'supplies' %>
  <%= link_to "#tools", hashtag: 'tools' %>
  <%= link_to "#events", hashtag: 'events' %>
  <%= link_to "#jobs", hashtag: 'jobs' %>
</div>
