<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= @post.content %>
<% @post.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<% @post.comments.each do |comment| %>
  <ul>
    <%= comment.content %>
    <%= comment.created_at %> <button class="edit-comment-btn" data-id="<%= comment.id %>"> Edit </button>
    <button><%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %></button>
    <div id="edit-form-<%= comment.id %>" class="hidden">
      <%= form_for comment do |f| %>
        <div class="form-group">
          <%= f.label :content, class: 'hidden' %>
          <%= f.text_field :content, class: 'form-control' %>
        </div>

        <%= f.submit "Comment", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </ul>
<% end %>
<br>
<br>

<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :content, class: 'hidden' %>
    <%= f.text_field :content, placeholder: "Add a comment as #{current_user.email}", class: 'form-control' %>
  </div>

  <%= f.submit "Comment", class: 'btn btn-primary' %>
<% end %>

<br>
<br>
<button> <%= link_to "Edit POST", edit_post_path(@post) %> </button>
<button> <%= link_to "Delete POST", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %> </button>

<br>
<br>
<%= link_to 'Back', posts_path, :class => "btn btn-primary"%>
