<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <title>🌱  </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbar_offline' %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/flashes' %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar_bottom' %>
      <%= render 'posts/create_posts' %>
    <% end %>
  </body>
</html>
